@model IEnumerable<SaleListModel>
@{
    ViewData["Title"] = "Discounted";
}
<h2>Discounted</h2>

<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <td>
            Customer
        </td>
        <td>
            Discount
        </td>
        <td>
            Price
        </td>
        <td>
            Discounted Price
        </td>
        <td>
            Young Driver
        </td>
    </tr>
    </thead>
    <tbody>
    @foreach (var sale in Model)
    {
        <tr>
            <td>
                @sale.CustomerName
            </td>
            <td>
                @sale.Discount.ToPercentage()
            </td>
            <td>
                @sale.Price.ToPrice()
            </td>
            
            <td>
                @sale.DiscountedPrice.ToPrice()
            </td>
            <td> @(sale.IsYoungDriver ? "Yes": "No")
            </td>
            <td>
                <a class="btn btn-sm btn-default" href="/sales/@sale.Id">More Details</a>
            </td>
        </tr>
    }
    </tbody>
</table>